  <div class="user-post">
    <div class="each-post">
      <% @post.each do |t| %><br>
      <%= link_to post_path(t.id),class: "posts_day_link" do %>
      <div class="row round <%= t.genre %>1" %>
        <div class="post_txt">
          <h4><%= t.start_time.strftime('%Y/%m/%d') %></h4>
          <p class="title_txt"><%= t.title %></p>
        </div>
      </div>
      <% end%>
      <% end %>
    </div>
  </div>

  <div id="map-user"></div>
            <div id="events_calendar">
          <%= render partial: "calendar", locals: {events: @post} %>
        </div>

    <style>
    #map-user {
      width: 100%;
      height: 250px;
      margin-bottom: 100px;
      margin-top: 100px;
      border-radius: 10px;
    }
    </style>
  </div>
</div>
<script>
  let map
  let geocoder 

      function initMap() {
        geocoder = new google.maps.Geocoder()
        map = new google.maps.Map(
          document.getElementById('map-user'), {
            center: {
              lat: 35.8174453,
              lng: 139.9188743
            },
            zoom: 5,
          });


        <% @post.each do |t| %>
      
        (function(){
        var iconUrl;
        if ( <%= t.genre == "旅行" %> ) {
          iconUrl = "http://maps.google.com/mapfiles/ms/micons/ltblue-dot.png"
        } else if ( <%= t.genre == "サークル・部活" %> ) {
          iconUrl = "http://maps.google.com/mapfiles/ms/micons/orange-dot.png"
        } else if ( <%= t.genre == "デート" %> ) {
          iconUrl = "https://maps.google.com/mapfiles/ms/icons/red-dot.png"
        } else if ( <%= t.genre == "遊び" %> ) {
          iconUrl = "https://maps.google.com/mapfiles/ms/icons/yellow-dot.png"
        } else if ( <%= t.genre == "ごはん" %> ) {
          iconUrl = "http://maps.google.com/mapfiles/ms/micons/purple-dot.png"
        } else {
          iconUrl = "http://maps.google.com/mapfiles/ms/micons/red-dot.png"
        }
        var marker = new google.maps.Marker({
          position: {
            lat: <%= t.latitude %>,
            lng: <%= t.longitude %>
          },
          map: map,
          icon: iconUrl
        });
        marker.addListener('click', function () { // マーカーをクリックしたとき
          infoWindow.open(map, marker); // 吹き出しの表示
        });
       var infoWindow = new google.maps.InfoWindow({ // 吹き出しの追加
          content: '<%= link_to t.title, post_path(t.id) %>'
          // 吹き出しに表示する内容
        })
          })();
      <% end %>
      }

</script>
<script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLE_MAP_API_KEY'] %>&callback=initMap" async defer>
</script>