<div class="wrapper">
  <div class="user-show-wrapper">
    <div class="index-content">
      <div class="user-info">
        <div class="name-wrapper">
          <div class="user-profile">
            <%= link_to edit_user_registration_path(current_user), class: "hensyu" do%>
            <%= image_tag @user.image_url, class:"icon_image"%>
            <% end %>
          </div>
        </div>
        <div class="follow-wrapper">
          <div class="user-name">
            <h3><%= @user.username %></h3>
          </div>
          <div class="follow-count">
            <div class="follow-corner">
              <div class="count">
                <h6>post</h6>
              <h3><%= @post.count %></h3>
              </div>
              <div class="count">
                <h6>follow</h6>
                <h3><%= @followings %></h3>
              </div>
              <div class="count">
                <h6>follower</h6>
                <h3><%= @followers %></h3>
              </div>
            </div>
            <div class="user-follow">
              <% if user_signed_in? && @user == current_user %>
              <% else %>
              <%= render 'relationships/follow_button', user: @user %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
    <% if @post %>
    <div class="user-post">
      <div class="each-post">
        <% @post.each do |t| %><br>
        <%= link_to post_path(t.id),class: "posts_day_link" do %>
        <div class="row round <%= t.genre %>1"%>
          <div class="post_txt">
            <h4><%= t.start_time.strftime('%Y/%m/%d') %></h4>
            <p class="title_txt"><%= t.title %></p>
          </div>
        </div>
        <% end%>
        <% end %>
      </div>
    </div>
    <% end %>
        <div id="map-user"></div>
          <div id="events_calendar">
        <%= render partial: "calendar", locals: {events: @post} %>
      </div>


  <style>
  #map-user {
    width: 100%;
    height: 250px;
    margin-bottom: 100px;
    margin-top: 100px;
    border-radius: 10px;
  }
  </style>
</div>

<script>
  let map
  let geocoder 

      function initMap() {
        geocoder = new google.maps.Geocoder()
        map = new google.maps.Map(
          document.getElementById('map-user'), {
            center: {
              lat: 35.8174453,
              lng: 139.9188743
            },
            zoom: 5,
          });


        <% @post.each do |t| %>
      
        (function(){
        var iconUrl;
        if ( <%= t.genre == "嬉しかった" %> ) {
          iconUrl = "http://maps.google.com/mapfiles/ms/micons/blue-dot.png"
        } else if ( <%= t.genre == "嬉しかった" %> ) {
          iconUrl = "https://maps.google.com/mapfiles/ms/icons/yellow-dot.png"
        } else {
          iconUrl = "http://maps.google.com/mapfiles/ms/micons/red-dot.png"
        }
        var marker = new google.maps.Marker({
          position: {
            lat: <%= t.latitude %>,
            lng: <%= t.longitude %>
          },
          map: map,
          icon: iconUrl
        });
        marker.addListener('click', function () { // マーカーをクリックしたとき
          infoWindow.open(map, marker); // 吹き出しの表示
        });
       var infoWindow = new google.maps.InfoWindow({ // 吹き出しの追加
          content: '<%= link_to t.title, post_path(t.id) %>'
          // 吹き出しに表示する内容
        })
          })();
      <% end %>
      }

</script>
<script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLE_MAP_API_KEY'] %>&callback=initMap" async defer>
</script>