<div class="user-big-wrapper">
  <div class="wrapper">
    <div class="user-show-wrapper">
      <div class="index-content">
        <div class="user-info">
          <div class="name-wrapper">
            <div class="user-profile">
              <%= link_to edit_user_registration_path(current_user), class: "hensyu" do%>
              <%= image_tag @user.image_url, class:"icon_image"%>
              <% end %>
            </div>
          </div>
          <div class="follow-wrapper">
            <div class="user-name">
              <h3><%= @user.username %></h3>
            </div>
            <div class="follow-count">
              <div class="follow-corner">
                <div class="count">
                  <h6>post</h6>
                <h3><%= @post.count %></h3>
                </div>
                <div class="count">
                  <h6>follow</h6>
                  <h3><%= @followings_id %></h3>
                </div>
                <div class="count">
                  <h6>follower</h6>
                  <h3><%= @followers_id %></h3>
                </div>
              </div>
              <div class="user-follow">
                <% unless user_signed_in? && @user == current_user %>
                <%= render 'relationships/follow_button', user: @user %>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>

      <% if @user.id == current_user.id %>
        <%= render 'eachfollow' %>
      <% elsif @followers.include?(current_user.id) && @followings.include?(current_user.id)  %>
        <%= render 'eachfollow' %>
      <% else %>
      <div class="user-nonfollow-post">
        <i class="fas fa-lock"></i>
      </div>
      <% end %>

          