<div class="new-wrapper">
  <%= render 'layouts/header' %>
  <div class="wrapper">
    <div class="textcontainer">
      <span class="particletext hearts">
        <p class="post_title">Post your memories</p>
      </span>
    </div>

    <div class="form-wrapper">
      <%= form_with( model: @post, local: true ) do |f|  %>
      <%= render "layouts/error_messages", model: f.object %>
      <div class="form-group">
        <%= f.label :title, "タイトル" %>
        <%= f.text_field :title ,class:"form-control"%>
      </div>
      <div class="group">
        <%= f.label :genre, "気持ち" %>
        <div class="form-group">
          <%= f.select :genre, ['旅行','遊び','ごはん','デート','サークル・部活'], {include_blank: '選択ボックス'}, class: 'form-control' %>
        </div>
        <div class="form-group">
          <%= f.label  "あの頃" %><span class="must"> ※</span>
          <%= f.date_field :start_time, class:"form-control" %>
        </div>
        <div class="group">
          <%= f.label  "場所" %><span class="must"> ※</span>
          <div class="basho-group">
            <%= f.text_field :address, class:"form-control basho" %>
            <button type="button" onclick="codeAddress()" class="btn btn-info onclick">検索</button>
          </div>
        </div>
        <div class="map-group">
          <div id="map"></div>
        </div>
        <div class="form-group">
          <%= f.label :body, "情景" %>
          <%= f.text_area :body, :size => 140 , class:"form-control" %>
        </div>
        <div class="form-group">
          <%= f.label :youtube_url, "思い出の曲(youtubeのURL)" %>
          <%= f.text_field :youtube_url, class:"form-control" %>
        </div>
        <div class="form-group">
          <%= f.label "画像" %>
          <%= f.file_field :image1, class:"form-control-file"%>
          <%= f.file_field :image2, class:"form-control-file"%>
          <%= f.file_field :image3, class:"form-control-file"%>
        </div>
        <div class="field">
          <%= f.label :tag_name, "タグ" %>
          <%= f.text_field :tag_name , class:"form-control"%>
        </div>
        <div class="submit-group">
          <%= f.submit "投稿する", class:"btn btn-info submit" %>
        </div>
        <% end %>
      </div>
    </div>

    <div class="map-content">
      <script>
        let map
        let geocoder

        function initMap() {
          geocoder = new google.maps.Geocoder()
          map = new google.maps.Map(
            document.getElementById('map'), {
              center: {
                lat: 35.663953,
                lng: 139.718235
              },
              zoom: 4,
            });
          var panorama = new google.maps.StreetViewPanorama(
            document.getElementById('pano'), {

              pov: {
                heading: 34,
                pitch: 10
              }
            });
          marker = new google.maps.Marker({
            map: map
          });
        }

        function toggleBounce() {
          if (marker.getAnimation() !== null) {
            marker.setAnimation(null);
          } else {
            marker.setAnimation(google.maps.Animation.BOUNCE);
          }
        }

        function codeAddress() {
          let inputAddress = document.getElementById('post_address').value;
          geocoder.geocode({
              'address': inputAddress
            },
            function (results, status) {
              if (status == 'OK') {
                map.setCenter(results[0].geometry.location);
                map.setZoom(17);
                var marker = new google.maps.Marker({
                  map: map,
                  position: results[0].geometry.location,
                });
                // map.setStreetView(panorama);
                // var panorama = new google.maps.StreetViewPanorama(
                //     document.getElementById('pano'),{
                //     position: results[0].geometry.location,
                //     draggable: true,
                //     pov:{＋
                //       heading: 34,
                //       pitch: 10
                //     } 
                // });
              } else {
                alert('Geocode was not successful for the following reason:' + status);
              }
            });
        }
      </script>
      <script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLE_MAP_API_KEY'] %>&callback=initMap" async
        defer></script>
    </div>
  </div>