<div class="wrapper">
  <p class="post_title">あなたの思い出を可視化しよう</p>
    <div class="form-wrapper">
      <%= form_with( model: @post, local: true ) do |f|  %>
        <table class="access-table">
          <tbody>
            <tr>
              <th class="table-left">
                <%= f.label :title, "タイトル" %>
              </th>
              <th class="table-right title">
                <%= f.text_field :title, :size => 140 %>
              </th>
            </tr>
            <tr>
              <th class="table-left">
                <%= f.label :day, "あの頃" %>
              </th>
              <th class="table-right ">
                <%= f.date_field :day %>
              </th>
            </tr>
            <tr>
              <th class="table-left">
                <%= f.label :address, "場所" %>
              </th>
              <th class="table-right ">
                <%= f.text_field :address %>
              </th>
            </tr>
            <tr>
              <th class="table-left">
                <%= f.label :body, "情景" %>
              </th>
              <th class="table-right">
                <%= f.text_area :body, :size => 140 %>
              </th>
            </tr>
            <tr>
              <th class="table-left">
                <%= f.label :youtube, "思い出の曲" %>
              </th>
              <th class="table-right">
                <%= f.text_field :youtube %>
              </th>
            </tr>
            <tr>
              <th class="table-left">
                <%= f.label :picture %>
              </th>
              <th class="table-right">
                <%= f.file_field :picture %>
              </th>
            </tr>
          </tbody>
        </table>
        <div class="table-right-submit-btn">
          <%= f.submit "投稿する", class:"submit-btn" %> 
        </div>
      <% end %>    
    </div>
</div>

