<div class="content-wrapper">
  <div class="post-content">

    <p><%= @post.day.strftime('%Y/%m/%d')%></p><br>
    <%= @post.title %><br>
    <%= @post.body %><br>
    <%= image_tag @post.picture_url if @post.picture? %>
    <% if @post.youtube.present? %>
      <p>あの頃の曲</p>
      <iframe width="560" height="315" src="https://www.youtube.com/embed/<%= @post.youtube %>" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </p>
    <% end%>
  </div>    
  <div class="map-content">
          <div class="inputaddress">
            <p>思い出の場所</p>
            <input id="address" type="textbox" value="">
            <input type="button" value="Encode" onclick="codeAddress()">
          </div>

            <style>
            #map,
            #pano {
                float: left;
                height: 300px;
                width: 50%; 
            }
            </style>

            <script>
            let map
            let geocoder

            function initMap(){
              geocoder = new google.maps.Geocoder()
              map = new google.maps.Map(
                document.getElementById('map'),{
                center: { lat: <%= @latlng[0] %>, lng:  <%= @latlng[1] %>},
                zoom: 15,
              });
              var panorama = new google.maps.StreetViewPanorama(
                document.getElementById('pano'),{
                position: { lat: <%= @latlng[0] %>, lng: <%= @latlng[1] %>},
                pov:{
                  heading: 34,
                  pitch: 10
                }
              });
              marker = new google.maps.Marker({
                position: { lat: <%= @latlng[0] %>, lng: <%= @latlng[1] %>},
                map: map
              });
            }

            function toggleBounce() {
              if (marker.getAnimation() !== null) {
                marker.setAnimation(null);
              } else {
                marker.setAnimation(google.maps.Animation.BOUNCE);
              }
            }

            // function codeAddress(){
            //   // 入力を取得
            //   let inputAddress = document.getElementById('address').value;
            //   // geocodingしたあとmapを移動
            //   geocoder.geocode( { 'address': inputAddress}, 
            //       function(results, status) {
            //     if (status == 'OK') {
            //       map.setCenter(results[0].geometry.location);
            //       //google.maps.MarkerでGoogleMap上の指定位置にマーカが立つ
            //       var marker = new google.maps.Marker({
            //           map: map,
            //           position: results[0].geometry.location,
            //           draggable: true,
            //       });
            //       map.setStreetView(panorama);
            //       var panorama = new google.maps.StreetViewPanorama(
            //           document.getElementById('pano'),{
            //           position: results[0].geometry.location,
            //           draggable: true,
            //           pov:{＋
            //             heading: 34,
            //             pitch: 10
            //           } 
            //       });
            // } else {
            //       alert('Geocode was not successful for the following reason:' + status);
            //     }
            //   });
            // }


            </script>
            <div id='map'></div>
            <div id="pano"></div>
            
            <script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLE_MAP_API_KEY'] %>&callback=initMap" async defer></script>
  </div>
  <div class="post-link">
    <ul>
        <li><%= link_to "edit", edit_post_path(@post.id) %></li>
        <li><%= link_to "destroy", post_path(@post.id), method: :delete %></li>
        <li><%= link_to "back", posts_path %><br></li>
    </ul>
  </div>
</div>