<!DOCTYPE html>
<html>
  <head>
    <title>Timetravel</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <div class="header-wrapper">
        <div class="header-left">
          <h1>Mental Timetravel</h1>
        </div>
        <div class="header-right">
          <ul>
              <li><%= link_to "Top", root_path %></li>
              <li><%= link_to 'Mypage', mypage_path %></li>
            <% if user_signed_in? %>
              <li><%= link_to 'Logout', destroy_user_session_path, method: :delete %>
            <% else %>
              <li><%= link_to 'Login', new_user_session_path %></li>
              <li><%= link_to 'new account', new_user_registration_path %></li>
            <% end %>
          </ul>
        </div>
      </div>
    </header>
    <%= yield %>
  </body>
</html>
